<div class="game-control">

    <ul>
        <a href="{{ absolute_url(path('deck')) }}"><li>Deck</li></a>
        <a href="{{ absolute_url(path('shuffle')) }}"><li>Shuffle</li></a>
        <a href="{{ absolute_url(path('draw')) }}"><li>Draw</li></a>
        <a href="{{ absolute_url(path('deck2jokers')) }}"><li>Deck 2</li></a>
        {# <a href="{{ absolute_url(path('cardjson')) }}"><li>JSON Card</li></a>
        <a href="{{ absolute_url(path('deckjson')) }}"><li>JSON Deck</li></a> #}

    </ul>

    <form class="deal" action="{{ absolute_url(path('Deal')) }}" method="post">
        <label for="nPlayers">No. Players</label>
        <input type="number" name="nPlayers" min="0" max="52">
        <label for="nCards">No. Cards</label>
        <input type="number" name="nCards" min="0" max="52">
        <input type="submit" name="Submit" value="Deal Cards">
    </form>

</div>
