{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}


<main>
    <h1>{{ title }}</h1>
    <div class="game-control">
        <ul>
            <a href="/card/deck"><li>Deck</li></a>
            <a href="/card/deck/shuffle"><li>Shuffle</li></a>
            <a href="/card/deck/draw"><li>Draw</li></a>
            <a href="/card/deck2"><li>Deck 2</li></a>
            <a href="/api/card"><li>JSON Card</li></a>
            <a href="/api/card/deck"><li>JSON Deck</li></a>



        </ul>

        <form class="deal" action="{{link_to_deal}}" method="post">
            <label for="nPlayers">No. Players</label>
            <input type="number" name="nPlayers" min="0" max="52">
            <label for="nCards">No. Cards</label>
            <input type="number" name="nCards" min="0" max="52">
            <input type="submit" name="Submit" value="Deal Cards">
        </form>
    </div>
    <p>Cards left in deck: {{ length }}</p>
    <div class="deck-field">
        {% for player in players %}
            <div class='player'>
            <p>Player {{ player.getId() }}</p>
                {% for card in player.getHand() %}
                    <div class="card {{card.getColor()}}"><p> {{ card.getCardGraphic() }} {{card.getStringValue()}} </p></div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>

</main>


{% endblock %}
