{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}

{% block body %}


<main>
    <h1>{{ title }}</h1>
 {% include './card/card_nav.twig' %}
    </div>
    <p>Cards left in deck: {{ length }}</p>
    <div class="deck-field">
        {% for player in players %}
            <div class='player'>
            <p>Player {{ player.getId() }}</p>
                {% for card in player.getHand() %}
                    <div class="card {{card.getColor()}}"><p> {{ card.getCardGraphic() }} {{card.getStringValue()}} </p></div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>

</main>


{% endblock %}
