{% extends "library.html.twig" %}
{% block title %}Library{% endblock %}
{% block body %}

<main>
    <h1> {{title}} </h1>
    

    <p class="message"> {{message}} </p>


    <form class="formAdd" action=" {{dAction}} " method="post">
        <label for="ftitle">Book title:</label><br>
        <input type="text" id="ftitle" name="ftitle" value="{{dTitle}}"><br>

        <label for="fisbn">ISBN nr.:</label><br>
        <input type="text" id="fisbn" name="fisbn" value="{{dIsbn}}"><br>

        <label for="fauthor">Author:</label><br>
        <input type="text" id="fauthor" name="fauthor" value="{{dAuthor}}"><br>

        <label for="fimg">Image:</label><br>
        <input type="text" id="fimg" name="fimg" value="{{dImage}}"><br>

        <input type="submit" value="Submit">
    </form>
</main>


{% endblock %}