{% extends "library.html.twig" %}
{% block title %}Library{% endblock %}
{% block body %}

<main>
    <h1> {{title}} </h1>

    <table class="booktable">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Action</th>
        </tr>
            {% for book in books %}
                <tr>
                    <td> <a href="show/{{book.id}}">{{book.title}}</a> </td>
                    <td> {{book.author}} </td>
                    <td class="isbn"> {{book.isbn}} </td>
                    <td class="lUpdate"><a class="updateBook" href="change/{{book.id}}">update</a> <a class="deleteBook" href="delete/{{book.id}}">delete</a></td>
                </tr>
            {% endfor %}

        </table>

        <a class="addBook" href="{{ absolute_url(path('library')) }}/add">+ Add book</a>

</main>


{% endblock %}